<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="by.piskunou.solvdlaba.persistence.CountryRepository">

    <resultMap id="elementaryMap" type="Country" autoMapping="false">
        <id property="id" column="country_id"/>
    </resultMap>

</mapper>